[Desktop Entry]
Encoding=UTF-8
Name=Rimecoin
Comment=Rimecoin P2P Cryptocurrency
Comment[fr]=Rimecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Rimecoin, eşten eşe kriptografik sanal para birimi
Exec=rimecoin-qt %u
Terminal=false
Type=Application
Icon=rimecoin128
MimeType=x-scheme-handler/rimecoin;
Categories=Office;Finance;
