
# bitcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=27771

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=3130000

# bootstrap.dat input/output settings (linearize-data)
netmagic=cee2caff
input=/home/example/.rimecoincore/testnet3/blocks
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1
genesis=00000c0b0322184626eec0c0bfda04d43dfe13e1fca347ba4327b560a755fe18

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 10000000
