[Unit]
Description=Rimecoin's distributed currency daemon
After=network.target

[Service]
User=rimecoincore
Group=rimecoincore

Type=forking
PIDFile=/var/lib/rimecoind/rimecoind.pid
ExecStart=/usr/bin/rimecoind -daemon -pid=/var/lib/rimecoind/rimecoind.pid \
-conf=/etc/rimecoincore/rimecoin.conf -datadir=/var/lib/rimecoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
